# Java
*.class
*.jar
*.war
*.ear
*.log
*.tmp
*.out

# Gradle
.gradle/
build/
.gradle-cache/
!gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
*.lock

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf/
.idea/**/gradle.xml
.idea/**/libraries/
.idea/**/runConfigurations/

# Visual Studio Code
.vscode/
.history/

# Logs and temporary files
*.log
logs/
*.pid
*.seed
*.swo
*.swp
*.orig
*.rej

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
.trash

# Maven
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle Wrapper
!gradlew
!gradlew.bat

# User-Specific Files
*.idx
*.dat
*.diff
*.patch

# JUnit Reports
test-output/
surefire-reports/
failsafe-reports/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Spring Tools Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# Environment Variables
.env

# Temporary files
tmp/
